.footer{
	&-wrap{
		background-color: $dark;
		color: $light;
		padding: 20px 10px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		-ms-align-items: center;
		align-items: center;
	}
	&__block{
		flex-basis: 30%;
	}
}