.nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	list-style: none;
	justify-content: space-between;
	li{
		margin: 0 7px;
	}
}