.nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	list-style: none;
}
.nav li{
	margin: 0 7px;
}

.hero{
	background-color: #eee;
}
.hero__title{
	color: #1e1e1e;
}

.footer-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.footer__block{
	flex-basis: 30%;
}